# MEMBERSHIP OPERATORS

In [1]:
x=["apple","banana"]
print("banana" in x) #returns true because a sequence with the volue "banana" is in the list

True

In [3]:
x = [ "apple","orange"]
print("cherry" not in x) #returns false because a sequence with tha value "cherry" is not in the list

True

# ACCESS LIST ITEMS

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]
    
first_element = numbers[0]
second_element = numbers[1]
last_element = numbers[-1]

print(first_element)
print(second_element)
print(last_element)

1
2
10

In [3]:
print(numbers[3:6])

[4, 5, 6]

In [4]:
print(len(numbers))

10

# ADDING ELEMENTS

In [6]:

# append :add an element to end of the list
fruits = ["apple","banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

In [10]:
#insert :add an element to a specific place
fruits = ["apple","banana","orange","cherry"]
fruits.insert(2,"grape")
print(fruits)

['apple', 'banana', 'grape', 'orange', 'cherry']

# EXTENDING LISTS

In [11]:
fruits = ["apple","banana"]
more_fruits = ["cherry","orange"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'orange']

# CHANGE ITEM VALUE

In [14]:
fruits = [ "apple","orange","cherry"]
fruits[1] = "melon"
print(fruits)

['apple', 'melon', 'cherry']

In [7]:
fruits = ["apple","banana","cherry"]
copy_fruits = fruits.copy() #
#or
copy_fruits = fruits[ : ]
print(copy_fruits)

['apple', 'banana', 'cherry']

In [15]:
fruits[1:3] = ["pappaya","kiwi"]
print(fruits)

['apple', 'pappaya', 'kiwi']

# # removing elements

In [18]:
fruits = [ "apple","orange","cherry"]
fruits.remove("orange")
print(fruits)

['apple', 'cherry']

In [19]:
fruits = [ "apple","orange","cherry"]
removed_fruits = fruits.pop()
print(fruits)

['apple', 'orange']

In [20]:
fruits = [ "apple","orange","cherry"]
fruits.clear()
print(fruits)

[]

In [5]:
fruits = [ "apple","orange","cherry"]
del fruits[0]
print(fruits)

['orange', 'cherry']

# copying lists

In [6]:
fruits = ["apple","banana","cherry"]
copy_fruits = fruits.copy() #copy_fruits is seperate copy of fruits
#or 
copy_fruits = fruits[:]#another way to create a copy of the list

In [2]:
fruits = ["apple","banana","cherry"]
print(fruits)

x = fruits
print(fruits)
x[0] = 56
print(x)
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
[56, 'banana', 'cherry']
[56, 'banana', 'cherry']

In [4]:
fruits = ["apple","banana","cherry"]
print(fruits)

y = fruits.copy()
print(y)
y[1]=100
print(y)
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 100, 'cherry']
['apple', 'banana', 'cherry']

#  REVERSING A LIST

In [5]:
numbers = [1,2,3,4,5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

# sorting a list

In [8]:
numbers = [5,4,3,2,1]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
numbers.sort(reverse=True)
print(numbers)

[5, 4, 3, 2, 1]

# nested list

In [13]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# counting

In [14]:
numbers = [1,2,3,4,2,2,5]
count = numbers.count(2) #returns the number of times a specified value occurs in the list
print(count)

3

# maximum minimum sum

In [16]:
numbers = [1,2,3,4,2,2,5]

print(max(numbers))
print(min(numbers))
print(sum(numbers))

5
1
19

# task

In [11]:
#write a program to swap first and last elements in a list
my_list = [5,3,9,1,7]
output = [7,3,9,1,5]

#my answer

my_list = [5,3,9,1,7]
x = my_list
x[0] = 7
x[-1] =5
print(my_list)

[7, 3, 9, 1, 5]

In [12]:
#real answer

my_list = [5,3,9,1,7]
x = my_list[0]
y = my_list[-1]
my_list[0] = y
my_list[-1] = x
#or
my_list[0],my_list[1] =my_list[-1],my_list[0]
print(my_list)

[7, 3, 9, 1, 5]