# while and for loop
#while loop

In [3]:
#program to display numbers from 1 to 5

i = 1
n = 5

while i<=n:
    print(i)
    i= i+1

print("finished")

1
2
3
4
5
finished

In [1]:
#write a while loop that add all numbers upto 100 (inclusive)

i = 1
n = 100

total = 0
while i<=n:
    total = total +i
    i = i + 1
print("Total:",total)

Total: 5050

In [2]:
# write a python program to reverse a number

num = int(input("enter a number:"))
rev = 0

while (num != 0):
    print("num:",num)
    rem = num % 10
    print("rem:",rem)
    rev = rev*10+rem
    print("rev:",rev)
    num = num//10
    print("=============")
print("reversed number is :",rev)

enter a number:365
num: 365
rem: 5
rev: 5
=============
num: 36
rem: 6
rev: 56
=============
num: 3
rem: 3
rev: 563
=============
reversed number is : 563

In [9]:
#write a program to get n natuaral numbers in descending order using a while loop forgiven range (1 to 10)

i = 1
n = 10 
while n>=i:
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1

In [10]:
# looping through list
mylist = [2,4,6,3,8,9]
i = 0
while i < len(mylist):
    print(mylist[i])
    i=i+1

2
4
6
3
8
9

In [2]:
mylist = [6,3,6,3,7,8]

i=0
list2 = []

while i<len(mylist):
    x = mylist[i]*mylist[i]
    list2.append(x)
    i = i+1
print(list2)

[36, 9, 36, 9, 49, 64]

In [2]:
# program to calculate the sum of numbers,until the user enters zero

total = 0
number = int(input("enter a number:"))

while number != 0:
    total+= number # total = total + number
    
    number = int(input("enter a number:"))
print("total=",total)

enter a number:5
enter a number:7
enter a number:6
enter a number:1
enter a number:0
total= 19

In [1]:
# factorial program
num = int(input("enter a number:"))
fac = 1
i = 1

while i<=num:
    fac = fac*i
    i = i+1
print("factorial of",num,"is",fac)

enter a number:5
factorial of 5 is 120

In [8]:
counter = 0 
while counter <= 3:
    print("inside the loop")
    counter = counter + 1
else:
    print("outside the loop")

inside the loop
inside the loop
inside the loop
inside the loop
outside the loop

# the break statment

with the braek statement we can stop the loop even if the while condition is true

In [1]:
i = 1 
while i<8:
    print(i)
    if i == 5:
        print(i*i)
        break
    i += 1 #i =i+1

1
2
3
4
5
25

# continue statemnet

with the continue statement we can stop the current itaration, and continue with the next

In [11]:
 i= 0
list1 = [ 2 ,4 ,5, 7,10,12]
while i<15:
    i+=1
    if i in list1:
        continue
    print(i)

1
3
6
8
9
11
13
14
15

In [6]:
length = int(input("enter the length of list ="))
i = 0 
mylist = []
while i<length:
    num = int(input("enter a number "))
    i += 1
    mylist.append(num)
print(mylist,"is my list")
x = []
y = []
for num in mylist:
    
    
    if num % 2 ==0:
        x.append(num)
        
    else:
        y.append(num)
print(x,"are even")
print(y,"are odd")

enter the length of list =4
enter a number 9
enter a number 8
enter a number 7
enter a number 6
[9, 8, 7, 6] is my list
[8, 6] are even
[9, 7] are odd

# python for loops

In [1]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [3]:
fruits = ["apple","banana","cherry","orange"]
for x in fruits:
    #print(x)
    if x == "cherry":
        break
    print(x)

apple
banana

In [4]:
fruits = ["apple","banana","cherry","orange"]
for x in fruits:
    #print(x)
    if x == "cherry":
        continue
    print(x)

apple
banana
orange

# range in for loop

In [5]:
for x in range(10): 
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for x in range(2,10): 
    print(x)

2
3
4
5
6
7
8
9

In [7]:
for x in range(2,10,3): #range(start,end,step)
    print(x)

2
5
8

In [8]:
for x in range(2,10): 
    print(x)
else :
    print("finally finished")

2
3
4
5
6
7
8
9
finally finished

In [10]:
colours = [ "red","big","tasty"]
fruits = ["apple","orange","cherry"]
for x in colours:
    for y in fruits:
        print(x,y)
    print("---------------")

red apple
red orange
red cherry
---------------
big apple
big orange
big cherry
---------------
tasty apple
tasty orange
tasty cherry
---------------

In [13]:
#code to find the sum of squares of each element of the list using for loop

#creating the list of numbers
numbers = [3, 5,23,6,5,1,2,9,8]

#initializing a variable that will store the sum
sum_ = 0
#using for loop to iterate over the list 
for num in numbers:
    sqr = num**2
    sum_ = sum_+sqr
print("sum of squares is :",sum_)

sum of squares is : 774

In [15]:
#searches for prime numbers from 10 to 20
for num in range (10,20):
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        print(num,"is a prime number")

11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number

In [2]:
#programe to print a multiplication table for a given number
n = 6

for i in range (1,11):
    product = n*i
    print("%d x %d = %d"% (i,n,product))

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

In [3]:
#decide the row count.(above the pattern containing 5 rows)
row = 5
#start = 1
#stop = row + 1
#step = 1
#run loop 5 times

for i in range (1, row +1):
    for j in range(1,i+1): #run inner loop i+1times
        print(j,end =" ")
    print()  #empty line after new row

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
#decide the row count.(above the pattern containing 5 rows)
row = 5
#start = 1
#stop = row + 1
#step = 1
#run loop 5 times

for i in range (1, row +1):
    for j in range(1,i+1): #run inner loop i+1times
        print(j,) #without end =" "
    print()  #empty line after new row

1

1
2

1
2
3

1
2
3
4

1
2
3
4
5

In [5]:
n = 5 
k = 5
for i in range (0,n+1):
    for j in range (k-1,0,-1):
        print(j,end =" ")
    print()

4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [6]:
n = 5 
k = 5
for i in range (0,n+1):
    for j in range (k-i,0,-1): # i
        print(j,end =" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [7]:
n = 5 
k = 5
for i in range (0,n+1):
    for j in range (k-i,0,-1):
        print(i,end =" ")
    print()

0 0 0 0 0
1 1 1 1
2 2 2
3 3
4

In [8]:
n = 5 
k = 5
for i in range (0,n+1):
    for j in range (k-i,0,-1):
        print("*",end =" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [12]:
n = 5 
for i in range (0,row):
    for j in range (0,i+1):
        print("*",end =" ")
    print()
for i in range (row,0,-1):
    for j in range (0,i-1):
        print("*",end =" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# task

In [28]:
#program that accept a string and calculate the number of digits and letters
s = input("enter a string :")
letters= 0
digits =0
for i in s:
    if i.isdigit():
        digits += 1
    elif i.isalpha():
        letters +=1
    else:
        pass
    
print("number of digits :",digits)
print("number of letters :",letters)

enter a string :i am 24 years old
number of digits : 2
number of letters : 11

# list comprehension

In [4]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = []
for x in fruits :
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [5]:
fruits = ["apple","banana","cherry","kiwi","mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

# the syntax

newlist = [expression for item in iterable if condition == True]

The return value is anew list ,leaving the old list unchanged

In [7]:
newlist2 = [x for x in fruits if x != "apple"]
print(newlist2)

['banana', 'cherry', 'kiwi', 'mango']

In [9]:
newlist3 = [x for x in fruits]
print(newlist3)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [10]:
newlist4 = [x*x for x in range(10)]
print(newlist4)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
newlist5 = [x.upper() for x in fruits]
print(newlist5)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

# using enumerate():

enumerate() is used to loop through the containers printing the index number along with the value present in that particular index.

In [12]:
for index, value in enumerate(["the","big","bang","theory"]):
    print(index,value)

0 the
1 big
2 bang
3 theory

In [15]:
grocery = ["bread","milk","butter"]
enumerategrocery = enumerate(grocery)
print(enumerategrocery)
print(type(enumerategrocery))

#converting to list
print(list(enumerategrocery))

#changing the default counter
enumerategrocery = enumerate(grocery,10)
print(list(enumerategrocery))

<enumerate object at 0x000002B45E7BE110>
<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

# using zip

zip() is used to combine 2 similar containers(list-list or dict-dict) printing the values sequentially. the loop exists only till the smaller container ends.

In [18]:
#initializing the list 
questions = ["name","colour","shape"]
answers =["apple","red","a circle"]

#using zip() to combine two containers
#and print values
for question, answer in zip(questions,answers):
    print("what is your {0}? I am {1}.".format(question,answer))

what is your name? I am apple.
what is your colour? I am red.
what is your shape? I am a circle.

# using sorted()

sorted() is used to print the container is sorted order. it doesnot sort the container but just prints the container in sorted order for 1 instance. the use of set() can be combined to remove duplicate occurences.

In [22]:
#initializing list
lis = [ 1, 3, 5, 6, 2, 1, 3]

#using sorted() to print the list in sorted order 
print("the list in sorted order is :")
for i in sorted(lis):
    print(i, end = " ")
print(" ")

#using sorted() and set() to print the list in sorted order
#use of set() removes duplicates.
print("the list in sorted order (without duplicates) is :")

for i in sorted(set(lis)):
    print(i, end = " ")

the list in sorted order is :
1 1 2 3 3 5 6
the list in sorted order (without duplicates) is :
1 2 3 5 6

In [23]:
#initializing list
lis = [ 1, 3, 5, 6, 2, 1, 3]

#using reversed() to print the list in reversed order 
print("the list in reversed order is :")
for i in reversed(lis):
    print(i, end = " ")

the list in reversed order is :
3 1 2 6 5 3 1

# iter() and next()

the python iter function is used to return an iterator for the object. the iter() is used to create an object thet will iterate one element at a time

In [24]:
vowels = ["a","e","i","o","u"]

#iter() with a list of vowels
vowels_iter = iter(vowels)

print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))

a
e
i
o
u

In [25]:
vowels_iter = iter(vowels)
for i in vowels_iter:
    print(i)

a
e
i
o
u