# tuples

In [3]:
#example of tuple of a numbers
numbers =(1,2,3,4,5)

#example of tuple of strings
string = ("apple","orange","cherry")

#example of tuple of mixed-type tuple
x = (1,"apple",5.4,True)

print(numbers)
print(string)
print(x)

(1, 2, 3, 4, 5)
('apple', 'orange', 'cherry')
(1, 'apple', 5.4, True)

# accessing elements

In [ ]:
numbers =(1,2,3,4,5)
first_ele

# immutability of tuple

tuples are immutable,which means you cannot change the values of elements after the tuple is created.this makes tuples useful forsituations where we want to ensure that the data remains constant

In [4]:
numbers = (1,3,5)
numbers[0] = 10
print(numbers)

TypeError: 'tuple' object does not support item assignment

# tuple update

In [ ]:
x = ("apple","cherry","")

# add items

In [5]:
mytuple = ("apple","banana","cherry")
y =list(mytuple)
y.append("orange")
mytuple = tuple(y)
print(mytuple)

('apple', 'banana', 'cherry', 'orange')

In [6]:
mytuple = ("apple","banana","cherry")
y =("orange")
mytuple += y
print(mytuple)

TypeError: can only concatenate tuple (not "str") to tuple

# unpacking a tuple

In [7]:
fruits = ("apple","cherry","banana")
x,y,z = fruits 
print(x)
print(y)
print(z)

apple
cherry
banana

In [8]:
fruits = ("apple","banana","cherry","orange","kiwi")
x,*y,z =fruits
print(x)
print(y)
print(z)

apple
['banana', 'cherry', 'orange']
kiwi

In [ ]:
fruits = ("apple","banana","cherry1","cherry","orange","kiwi")
x,*y,z =fruits
print(x)
print(y)
print(z)

#